<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="normal/base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>User Dashboard</title>
  </head>
  <body>
    <section>
      <div class="card mr-4 ml-3">
        <div class="card-body" th:if="${contacts}">
          <h1 class="text-center">Your Contacts</h1>

          <!-- Search field -->
          <div class="search-container my-3">
            <input
              type="text"
              class="form-control"
              id="search-input"
              onkeyup="search()"
              placeholder="Search your contacts"
            />

            <div class="search-result">
              <!-- Search result goes here..... -->
              <!-- <h5>Result....</h5> -->
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="c : ${contacts}">
                  <th scope="row" th:text="${'SCM2021'+c.cId}">1</th>
                  <td>
                    <img
                      class="my_profile_pic mr-1"
                      th:src="@{'/img/'+${c.image}}"
                      alt="profile pic"
                    />
                    <span th:text="${c.name}"></span>
                  </td>
                  <td>
                    <a th:href="@{'/user/contact/'+${c.cId}}">
                      <span th:text="${c.email}"></span>
                    </a>
                  </td>
                  <td th:text="${c.phone}"></td>
                  <td>
                    <a
                      href="#"
                      th:onClick="|deleteContact(${c.cId})|"
                      class="btn btn-danger btn-sm mr-1"
                      >Delete</a
                    >
                    <form
                      class="mt-2"
                      method="post"
                      th:action="@{'/user/update-contact/'+${c.cId}}"
                    >
                      <button type="submit" class="btn btn-info btn-sm">
                        Update
                      </button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!--Pagination part  -->
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li th:if="${currentPage != 0}" class="page-item">
                <a
                  class="page-link"
                  th:href="@{'/user/show-contacts/'+${currentPage-1}}"
                  >Previous</a
                >
              </li>

              <li
                th:classappend="${currentPage==i-1?'active':''}"
                th:each="i : ${#numbers.sequence(1, totalPages)}"
                class="page-item"
              >
                <a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}"
                  ><span th:text="${i}"></span
                ></a>
              </li>

              <li th:if="${currentPage+1 != totalPages}" class="page-item">
                <a
                  class="page-link"
                  th:href="@{'/user/show-contacts/'+${currentPage+1}}"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>

        <h1
          class="text-center p-3 bg-danger text-white"
          th:unless="${contacts}"
        >
          There is no contact to see !!!
        </h1>
      </div>

      <script>
        $(document).ready(() => {
          $(".item").removeClass("active");
          $("#contacts-link").addClass("active");
        });
      </script>
    </section>
  </body>
</html>
